<section class="row text-white" style="background-color: #173459;">
    <div class="col-md-3">
        <h3>SMART STORE</h3>
        <p>Your one stop shop for all your household utilities.we are glab to server our customers </p>
        <p>Shopping Guide</p>
        <p>How do I pay on Kilimall?</p>
        <p> how long does my order arrive?</p>
    </div>
    <div class="col-md-3">
        <h3>QUICK LINKS</h3><br>
       <a href="/" class="text-light">home</a><br>
       <a href="/" class="text-light">product</a><br>
       <a href="" class="text-light"> about us</a><br>
       <a href="/register" class="text-light">contact</a><br>


    </div>
    <div class="col-md-3">
        <h3>CONTACT US</h3>
        <p>Email:ngesasuzan@gmail.com</p>
        <p>phone:+254712461219</p>
        <p>adress:17-Nyamonye</p>
    </div>
    <div class="col-md-3">
        <h3>FOLLOW US</h3>
        <a href="">
   <img src="../static/images/x.png" alt="twitter" width="20" height="20">
   </a>
       <a href=""> <img src="../static/images/fb.png" alt="facebook" width="20" height="20">
        </a>
        <img src="../static/images/in.png" alt="instagram"width="20" height="20">
       
    </div><br>
    <hr class="m-4" style="height: 8px; color:antiquewhite">
    <p class="text-center">&copy; All rights Reserved|<b>Privacy Policy</b></p>

</section>